# Copyright (C) 2025  Brenno Flávio de Almeida
#
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 3.
#
# greenline is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.

[Unit]
Description=Greenline Sync Service

[Service]
Type=simple
ExecStart=/opt/click.ubuntu.com/greenline.brennoflavio/current/greenline-daemon --data-dir %h/.config/greenline.brennoflavio --app-id greenline.brennoflavio_push
WorkingDirectory=/opt/click.ubuntu.com/greenline.brennoflavio/current/
Restart=on-failure
RestartSec=10

[Install]
WantedBy=graphical-session.target
